:root {
	--background: #0e1019;
	--background-code: #1b1d25;
	--selection: #313858;
	--link: #008df8;
	--text: #cfcfcf;
	--border: 1px var(--text) solid;
	--font: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue",
		Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji",
		"Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	--font-mono: monospace;
	--standard-font-size: 16px;
	--standard-width: 30rem;
}

body {
	font-family: var(--font);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: var(--background);
	color: var(--text);
	font-size: var(--standard-font-size);
}

::-moz-selection,
::selection {
	background: var(--selection);
}

@media (min-width: 480px) {
	main {
		padding-top: 5rem;
		padding-bottom: 5rem;
	}
}

@media (max-width: 479px) {
	main {
		padding-top: 2rem;
		margin-right: 0.5rem;
		padding-bottom: 2rem;
		margin-left: 0.5rem;
	}
}
