h1,
.h1 {
	font-size: 1.5rem;
}

h2,
.h2 {
	font-size: 1.328rem;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6,
hr,
p {
	margin: 0 0 0.8rem 0;
}

header > *,
article > *,
aside > * {
	max-width: var(--standard-width);
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

a {
	color: var(--link);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

hr {
	border-bottom: none;
	border-right: none;
	border-left: none;
}

table {
	margin: 1rem auto;
}

@media (min-width: 480px) {
	table {
		min-width: var(--standard-width);
	}
}

@media (max-width: 479px) {
	table {
		min-width: 100%;
	}
}

table,
th,
td {
	border-collapse: collapse;
	border: var(--border);
}

th {
	padding: 0.1rem 1rem;
}

td {
	vertical-align: top;
	padding: 0.7rem 1rem;
}

label {
	min-width: 90px;
	display: inline-block;
}

textarea {
	width: 100%;
	margin: 0;
	padding: 0;
}

textarea,
input,
select {
	background-color: var(--background);
	color: var(--text);
	resize: vertical;
	border: none;
	min-width: 200px;
}

input[type="number"],
select {
	border: var(--border);
}

button,
input[type="file"]::file-selector-button {
	background-color: var(--background);
	border: var(--border);
	color: var(--text);
	padding: 0.2rem 0.8rem;
	font-size: 0.75rem;
	cursor: pointer;
}

pre {
	margin: 0.8rem;
	white-space: pre-wrap; /* Since CSS 2.1 */
	white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
	white-space: -pre-wrap; /* Opera 4-6 */
	white-space: -o-pre-wrap; /* Opera 7 */
	word-wrap: break-word; /* Internet Explorer 5.5+ */
	--padding-x: 0.8rem;
	--padding-y: 0.6rem;
	padding: var(--padding-y) var(--padding-x);
	width: calc(var(--standard-width) - var(--padding-x) * 2);
	font-size: 0.8rem;
	line-height: 1.2rem;
	overflow-wrap: break-word;
	overflow: auto;
	word-break: keep-all;
	background: var(--background-code);
}

p > code {
	padding: 0 0.3rem;
	overflow-wrap: break-word;
	background: var(--background-code);
	word-break: break-all;
	font-size: 0.8rem;
	line-height: 1.4rem;
}
