.w-standard {
	max-width: var(--standard-width);
	width: 100%;
}

.mx-auto {
	margin-left: auto;
	margin-right: auto;
}

.flex {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}

.w-50p {
	width: 50%;
}

.w-25p {
	width: 25%;
}

.bb-dotted {
	border-bottom: 1px var(--text) dotted !important;
	border-top: none;
	border-right: none;
	border-left: none;
}

.clickable {
	cursor: pointer;
}

.small {
	font-size: 0.7rem;
	line-height: 0.8rem;
	padding: 0.5rem 1rem;
}

.button {
	width: 80px;
	height: 26px;
	border-color: var(--border);
	outline: none;
	color: var(--text);
	background: var(--background);
	cursor: pointer;
	position: relative;
	z-index: 0;
	border-radius: 0;
	font-family: var(--font);
}

.button:before {
	content: "";
	background: linear-gradient(
		45deg,
		#ff0000,
		#ff7300,
		#fffb00,
		#48ff00,
		#00ffd5,
		#002bff,
		#7a00ff,
		#ff00c8,
		#ff0000
	);
	position: absolute;
	top: -2px;
	left: -2px;
	background-size: 400%;
	z-index: -1;
	filter: blur(5px);
	width: calc(100% + 4px);
	height: calc(100% + 4px);
	animation: glowing 20s linear infinite;
	opacity: 0;
	transition: opacity 0.3s ease-in-out;
	border-radius: 0;
}

.button:hover:before,
.button:focus:before {
	opacity: 1;
}

.button:after {
	z-index: -1;
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	background: var(--background);
	left: 0;
	top: 0;
	border-radius: 0;
}

@keyframes glowing {
	0% {
		background-position: 0 0;
	}

	50% {
		background-position: 400% 0;
	}

	100% {
		background-position: 0 0;
	}
}

@media (max-width: 479px) {
	.mobile-hidden {
		display: none;
	}
}
