@media print {
	:root {
		--background: #fff;
		--background-code: #eee;
		--link: mediumblue;
		--text: #000;
		--border: 1px var(--text) solid;
		--font: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue",
			Arial, "Noto Sans", "Liberation Sans", sans-serif,
			"Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
			"Noto Color Emoji";
		--font-mono: monospace;
		--standard-font-size: 12pt;
		--standard-width: 39rem;
	}

	main {
		padding: 0;
	}

	.print-hidden {
		display: none !important;
	}

	.print-100 {
		height: 100%;
	}
}
