:root {
	--standard-width: 39rem;
}

#markdown {
	height: calc(100vh - 260px);
	overflow-y: scroll;
	scrollbar-width: none;
}
@media (max-width: 479px) {
	#markdown {
		height: calc(100vh - 160px);
	}
}

#markdown > * {
	margin: 0 auto 0.8rem;
}

#markdown > table {
	width: auto;
}

#markdown img {
	max-width: 100%;
}

#markdown div {
	height: 100%;
}

.textarea {
	resize: none;
	border: none;
	outline: none;
	font-size: 0.875rem;
	font-family: var(--font-mono);
	height: 100%;
	scrollbar-width: none;
	line-height: 1.15rem;
}

@media print {
	#markdown {
		height: 100%;
	}
}
