:root {
	--color-10: #547496;
	--color-11: #643a7a;
	--color-12: #d11149;
	--color-13: #1a8fe3;
	--color-14: #f17105;
	--color-15: #6610f2;
	--color-16: #e6c229;
}
.graph {
	margin-top: 2rem;
	margin-bottom: 2rem;
}
.legend {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
}
.box {
	text-align: right;
	padding: 14px 0;
}
.box > span {
	cursor: pointer;
	position: relative;
	font-size: 1rem;
	color: var(--text);
	line-height: 14px;
	padding: 0 10px 0 25px;
}
.box > span:before {
	position: absolute;
	left: 6px;
	top: 9px;
	display: block;
	content: "";
	width: 11px;
	height: 5px;
	border-radius: 3px;
}
@keyframes dash {
	to {
		stroke-dashoffset: 0;
	}
}
svg > polyline {
	fill: none;
	stroke-width: 6;
	stroke-linecap: round;
	stroke-dasharray: 2800;
	stroke-dashoffset: 2800;
	animation-name: dash;
	animation-delay: 0.5s;
	animation-duration: 6s;
	animation-fill-mode: forwards;
	animation-timing-function: linear;
}
svg > line {
	stroke: #5c5c5c;
	stroke-width: 1;
}
svg > text {
	fill: var(--text);
	font-family: sans-serif;
	color: rgb(207, 207, 207);
	font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue",
		Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji",
		"Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	font-size: 12px;
	line-height: 24px;
}
.dates {
	display: flex;
}
.date {
	font-size: 12px;
	color: var(--text);
	line-height: 24px;
	text-transform: uppercase;
	text-align: center;
}
